<app-search-panel />


@if (error ) {
<div class="col-12">
  <div class="error">
    <div>Error message: {{error.message}}</div>
    <div>Error status: {{error.status}}</div>
    <div>Error statusText: {{error.statusText}}</div>
  </div>
</div>
}
@else{

<div class="feature-grid">
  @for (snippet of filteredTopics; track snippet) {
  <mat-card class="custom-card">
    <div class="card-img-container">
      <img [ngSrc]="snippet.download_url" alt="Image" class="card-img" height="300" width="100"
        (load)="onImageLoad(snippet)">
      @if(snippet.isLoading) {
      <div class="spinner-overlay">
        <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
      </div>
      }
    </div>
    <mat-card-content>
      <div class="card-content">
        <div class="author-actions">
          <h2 class="mat-h2">{{ snippet.author }}</h2>
          <div class="card-footer">
            <div class="action-buttons">
              <button mat-icon-button matTooltip="Like" matTooltipPosition="above" color="primary">
                <mat-icon>thumb_up</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Dislike" matTooltipPosition="above" color="warn">
                <mat-icon>thumb_down</mat-icon>
              </button>
            </div>
            <button mat-icon-button matTooltip="Download" matTooltipPosition="above" color="accent">
              <mat-icon>download</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  }
  @empty {
  Empty list of users
  }
</div>
}




<!--

<div class="container">
    <div class="row">
        <div class="col-xs-3 box">Box 1</div>
        <div class="col-xs-3 box">Box 2</div>
        <div class="col-3 box">Box 3</div>
        <div class="col-3 box">Box 4</div>
        <div class="col-3 box">Box 5</div>
        <div class="col-3 box">Box 6</div>
        <div class="col-3 box">Box 7</div>
        <div class="col-3 box">Box 8</div>
        <div class="col-3 box">Box 9</div>
        <div class="col-3 box">Box 10</div>
    </div>
</div>
 -->
