<div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search for blogs">
</div>

<div class="row">
    @for (blog of blogList; track blog) {
    <div class="col-sm-6 col-md-6 col-lg-6 mb-3 mb-sm-0 p-2">
        <div class="card">
            <img src="{{ blog.imageURL }}" class="card-img-top" alt="..." max-width="100%">
            <div class="card-body d-flex justify-content-between align-items-center">

                <div class="d-flex gap-2">
                    <h3 class="card-title mb-0">{{ blog.title }}</h3>
                    <button matTooltip="Like" class="border border-secondary-subtle p-2 rounded-circle">
                        <i class="bi bi-arrow-up"></i>
                    </button>
                    <button matTooltip="Dislike" class="border border-secondary-subtle p-2 rounded-circle">
                        <i class="bi bi-arrow-down"></i>
                    </button>
                </div>
                <button matTooltip="Download" class="border border-secondary-subtle p-2 rounded">
                    <i class="bi bi-box-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
    }
    @empty {
    Empty list of users
    }
</div>



<!-- 
    
<div class="container">
    <div class="row">
        <div class="col-xs-3 box">Box 1</div>
        <div class="col-xs-3 box">Box 2</div>
        <div class="col-3 box">Box 3</div>
        <div class="col-3 box">Box 4</div>
        <div class="col-3 box">Box 5</div>
        <div class="col-3 box">Box 6</div>
        <div class="col-3 box">Box 7</div>
        <div class="col-3 box">Box 8</div>
        <div class="col-3 box">Box 9</div>
        <div class="col-3 box">Box 10</div>
    </div>
</div>
 -->