

.nav-link {
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.navbar-brand, .nav-link {
  font-size: 1.1rem;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-brand:hover, .nav-link:hover {
  color: #ffc107; /* Bootstrap's yellow color for better visibility */
  background-color: rgba(255, 255, 255, 0.1); /* Slight background color change on hover */
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

.navbar .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.navbar .navbar-brand{
  padding: 0.5rem 1rem;
}



.navbar-collapse {
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .navbar-brand, .nav-link {
    font-size: 1rem;
  }
}


.main-container {
  padding-left: 256px;
}

@media screen and (max-width: 768px) {
  .main-container {
    padding-left: 0;
  }
}
