<nav class="navbar navbar-expand-sm navbar-dark bg-secondary px-3">
  <a class="navbar-brand fw-bold" routerLink="/home">Home</a>
  <a class="navbar-brand fw-bold" routerLink="/upload-snippets">Upload Snippets</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ms-auto mb-2 mb-sm-0">
      @if (!isLoggedIn) {
        <a class="nav-link" routerLink="/login">Login</a>
      }
      @if (!isLoggedIn) {
        <a class="nav-link" routerLink="/signup">Signup</a>
      }
      @if (isLoggedIn) {
        <a class="nav-link" (click)="openDialog()">Logout</a>
      }
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>



<!-- 
  1. try for simple loader of api call till the response comes.
  2. spinner for loading time of image
  3. login/signup feature (JWT token with firebase)
  4. route guards feature
  5. Custom validator for password and confirm password matching: in signup page
  5. interceptor for common error handling
  6. unit testing
  7. Detect if user is in top of the page or bottom of the page using hostlistener (scroll event )
  8. Print username in top after successful loggedin
 -->