<app-sidebar />
<div class="main-container">
  <router-outlet></router-outlet>
</div>
<ng-toast class="snippet-toaster" [position]="ToasterPosition.TOP_RIGHT" />



<!--
  Frontend:
  1. try for simple loader of api call till the response comes.
  2. spinner for loading time of image
  3. login/signup feature (JWT token with firebase)
  4. route guards feature
  5. Custom validator for password and confirm password matching: in signup page
  5. interceptor for common error handling
  6. unit testing
  7. Detect if user is in top of the page or bottom of the page using hostlistener (scroll event )
  8. Print username in top after successful loggedin
  9. add simple http interceptor for sending auth token  (try with all different cases)
                  write medium article on this: https://medium.com/@mohsinogen/angular-17-http-interceptors-guide-417e7c8ffada
  10.



  Backend:
  1. to upload new image - this will be available for loggedin user
  2. loggedin user can do like/dislike image
  3. Download image
  4. Inlarge image on click image
 -->
