ul{
    line-height: 2;
    font-size: 1rem;
}

.issue-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.small-icon-button {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    font-size: 24px; /* Adjust the size of the icon if needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-icon-button i {
    font-size: 24px; /* Adjust the size of the icon if needed */
}