<div class="container mt-4">
    <div class="row">
        <div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-center">
            <h2>TODO Issues: Features/bugs</h2>
            <div>
                <button title="Refresh features and issues data." mat-raised-button (click)="refreshData()"
                    [disabled]="isLoading">
                    Refresh <i class="bi bi-arrow-clockwise"></i>
                </button>
                <button mat-raised-button (click)="openAddIssueDialog()" class="ms-3">Post Issue <i
                        class="bi bi-plus-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 mb-2">
            <mat-card class="p-2">
                <mat-card-header>
                    <mat-card-title>Features</mat-card-title>
                    @if(features && features.length > 0) {
                        <span class="mat-mdc-card-title"> &nbsp;({{ features.length }})</span>
                    }
                </mat-card-header>
                <ul>
                    @for (issue of features; track issue.userName) {
                    <div class="issue-content">
                        <li class="issue-item">{{issue.issue}}</li>
                        <button mat-icon-button color="warn" class="small-icon-button" (click)="deleteIssue(issue._id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    } @empty {
                    @if(!features){
                    <div class="text-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                    } @else {
                    <li>No features listed</li>
                    }
                    }
                </ul>
                <hr>
                <mat-card-header>
                    <mat-card-title>Bugs</mat-card-title>
                    @if(bugs && bugs.length > 0) {
                        <span class="mat-mdc-card-title"> &nbsp;({{ bugs.length }})</span>
                    }
                </mat-card-header>
                <ul>
                    @for (issue of bugs; track issue.userName) {
                    <div class="issue-content">
                        <li class="issue-item">{{issue.issue}}</li>
                        <button mat-icon-button color="warn" class="small-icon-button" (click)="deleteIssue(issue._id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    } @empty {
                    @if(!bugs){
                    <div class="text-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                    } @else {
                    <li>No issues listed</li>
                    }
                    }
                </ul>
            </mat-card>
        </div>
    </div>

</div>