<div class="container mt-4">
    <div class="row">
        <div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-center">
            <h2 class="border border-success p-2 rounded">TODO: Issues/Features</h2>
            <h2 class="border border-success p-2 rounded">Post Issue <i class="bi bi-plus-circle"></i></h2>
        </div>
    </div>
    <mat-card appearance="outlined" class="p-3">
    <div class="mat-typography mt-4">
        <h2>Features</h2>
        <ul>
            <li>Upload new image - this will be available for logged-in users</li>
            <li>Logged-in users can like/dislike images</li>
            <li>Download image</li>
            <li>Enlarge image on click</li>
            <li>Simple loader for API call until the response comes</li>
            <li>Spinner for image loading time</li>
            <li>Login/signup feature (JWT token with Firebase)</li>
            <li>Route guards feature</li>
            <li>Custom validator for password and confirm password matching: in signup page</li>
            <li>Interceptor for common error handling</li>
            <li>Unit testing</li>
            <li>Detect if user is at the top or bottom of the page using HostListener (scroll event)</li>
            <li>Print username at the top after successful login</li>
            <li>Simple HTTP interceptor for sending auth token (try with all different cases)</li>
        </ul>

        <h2>Issues</h2>
        <ul>
            <li>Issue 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Issue 2: Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Issue 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Issue 2: Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Issue 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Issue 2: Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ul>
    </div>
</mat-card>

</div>

