<div class="auth-wrapper pt-5">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="mb-3">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          @if (!loginForm.get('email')?.valid) {
            <mat-error>Please enter a valid email</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          @if (!loginForm.get('password')?.valid) {
            <mat-error>Password is required</mat-error>
          }
        </mat-form-field>

        <button class="full-width" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
